body {
  display: grid;
  place-items: center;
  min-height: 100vh;
  color: white;
  main {
    text-align: center;
    .input-field-container {
      position: relative;
      margin: 1.875rem auto 1.125rem;
      max-width: 30rem;
      label {
        display: none;
      }
    }
    .checkbox-container {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

@media screen and (max-width: 660px) {
  main {
    margin: 1.875rem 1.5rem 1.125rem;
  }
}
